#de_main {
    border-radius: 10px;
    padding: 50px;
    width: auto;
    height: auto;
}
#de_main .btn {
    padding: 7px 14px;
    border-radius: 3px;
    color: white;
    border: none;
}
.pdf-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pdf-modal .react-pdf__Viewer {
    width: 80%;
    height: 80%;
}
